/* IMPORTED FONTS */
@import url("https://use.typekit.net/dxf2ltb.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* END FONTS */
/* VARIABLES */
:root {
	--white-colour: #ffffff;
	--black-colour: #000000;
	--grey-colour: #171717;
	--grey-colour2: rgb(33, 33, 33);
	--blue-colour: #69b6da;
	--red-colour: #bc4749;
	--yellow-colour: #e9c46a;
	--background-colour: var(--white-colour);
	--font-colour: var(--black-colour);
	--textarea-colour: var(--white-colour);
	--anchor-colour: var(--blue-colour);
	--regular-font: "Open Sans", sans-serif;
	--headline-font: "bely-display", sans-serif;
}

.dark-theme {
	--background-colour: var(--grey-colour);
	--font-colour: var(--white-colour);
	--textarea-colour: var(--grey-colour);
}
/* END VARIABLES */
::selection {
	color: var(--background-colour);
	background-color: var(--red-colour);
}
/* RESET */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

ol,
ul {
	list-style-type: none;
}

a,
a:link,
a:visited {
	color: var(--anchor-colour);
	text-decoration: none;
}

a,
a:hover,
a:focus {
	text-decoration: underline;
}
/* END RESET */
/* MOBILE VIEW */
/* GENERAL STYLES */
body {
	font-family: var(--regular-font);
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	background-color: var(--grey-colour2);
	color: var(--font-colour);
	text-rendering: optimizeLegibility;
}

h1,
h2,
section#about-me h4 {
	font-family: var(--headline-font);
}

section h2 {
	padding-bottom: 0.25em;
	margin-bottom: 1em;
	border-bottom: 1px solid var(--font-colour);
}

header,
main,
footer {
	padding: 2em 0;
}

#about-me,
#contact-me {
	margin-top: 6em;
}

.out-container {
	width: 100%;
	max-width: 1078px;
	min-width: 0;
	margin: 0 auto;
}

#content {
	background-color: var(--background-colour);
	padding: 0.25em;
}

.in-container {
	width: 90%;
	max-width: 978px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	background-color: var(--anchor-colour);
	color: var(--background-colour);
	padding: 0.5em 1.25em;
	font-weight: bold;
	border-radius: 0.25em;
	transition: all ease-in-out 0.2s;
}
.button:hover,
.button:focus {
	background-color: var(--font-colour);
	cursor: pointer;
	text-decoration: none;
}
/* END GENERAL STYLES */
/* SECTION: HEADER */
header > nav,
header > nav > #logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header > nav > #logo > h6 {
	font-family: var(--headline-font);
	font-size: 2rem;
	line-height: 1;
}

#main-nav {
	width: 50%;
	text-align: center;
	margin-top: 0.75em;
}

#main-nav > li {
	border-bottom: 1px solid var(--font-colour);
	padding: 0.25em 0;
}

#main-nav > li:last-of-type {
	border: none;
}

#cta {
	color: var(--background-colour);
}

section#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5em 0;
	text-align: center;
}

section#hero h2 {
	font-size: 4rem;
	margin-bottom: 1em;
	border: none;
}

section#hero > h3 {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	line-height: 2;
	font-family: var(--regular-font);
	border: none;
	margin-bottom: 2em;
}

section#hero > #SEO {
	font-size: 1.25rem;
}
/* END SECTION */
/* SECTION: PROJECTS */
section#projects > .cards {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2em;
	grid-template-areas:
		"portfolio"
		"calculator"
		"studyguide";
}

#portfolio {
	grid-area: portfolio;
}

#portfolio > .project-image {
	background-image: url("../images/portfolio.png");
}

#calculator {
	grid-area: calculator;
}

#calculator > .project-image {
	background-image: url("https://images.pexels.com/photos/4439444/pexels-photo-4439444.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

#studyguide {
	grid-area: studyguide;
}

#studyguide > .project-image {
	background-image: url("https://images.pexels.com/photos/4271927/pexels-photo-4271927.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#projects .card {
	margin-top: 4em;
}

section#projects .card:first-of-type {
	margin-top: 0;
}

.card-title {
	margin-top: 1em;
}

.card-description {
	margin-top: 1em;
}
/* END SECTION */
#about-me h4 {
	font-size: 2rem;
	text-decoration: underline;
}

#about-me .card {
	border: 1px solid var(--font-colour);
	padding: 1em;
}

#about-me .card img {
	margin-top: 1em;
	border-radius: 50%;
	/* padding-right: 2em; */
	margin-bottom: 2em;
	width: 250px;
	height: 250px;
	border: 1px solid var(--font-colour);
	background-position: center;
	background-size: stretch;
	background-repeat: no-repeat;
}

#about-me .card > .card-description {
	width: 100%;
	text-align: center;
}

.project-image {
	width: 100%;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid var(--font-colour);
}

.my-skills {
	margin: 5em 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.my-skills > ul > li {
	display: inline-block;
	font-size: 3rem;
	padding: 0.25em;
}

.timeline {
	margin-top: 2em;
}

.timeline li {
	padding: 2em 0.25em 2em 1.5em;
	border-left: 2px solid var(--anchor-colour);
	position: relative;
}

.timeline li::before {
	content: "";
	width: 15px;
	height: 15px;
	background: white;
	border: 1px solid var(--anchor-colour);
	box-shadow: 3px 3px 0px var(--anchor-colour);
	box-shadow: 3px 3px 0px var(--anchor-colour);
	border-radius: 50%;
	position: absolute;
	left: -10px;
}

.timeline h5 {
	font-size: 1rem;
	display: inline;
}

.timeline p {
	font-size: 0.75rem;
	padding-top: 0.5em;
}

.timeline .tags {
	margin-top: 0.5em;
}

.timeline .tag {
	font-size: 0.5rem;
	background-color: var(--font-colour);
	color: var(--background-colour);
	padding: 0.75em 1em;
	border-radius: 0.25em;
}

.timeline .current {
	background-color: var(--anchor-colour);
	color: var(--white-colour);
}

.timeline .spotify {
	background-color: #1db954;
	color: var(--white-colour);
}
/* SECTION: CONTACT ME */
#contact-me #contact-message {
	width: 100%;
	text-align: center;
	padding: 2em 0;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

label,
input,
textarea,
button#submit {
	/* font-family: var(--regular-font); */
	display: block;
	width: 80%;
	border-radius: 0.25em;
	resize: none;
}

label {
	margin-top: 0.75em;
	margin-bottom: 0.15em;
}

input,
textarea {
	border: 1px solid var(--font-colour);
	background-color: var(--textarea-colour);
	color: var(--font-colour);
	font-size: 0.75rem;
	padding: 0.5em;
}

button#submit {
	margin-top: 0.75em;
}
/* END SECTION */
/* SECTION: FOOTER */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer > .media-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 0.5em;
}

footer > .media-links > li {
	padding: 0 1em;
}
/* END SECTION */
/* TABLET VIEW */
@media screen and (min-width: 645px) {
	section h2 {
		font-size: 2rem;
	}

	.in-container {
		padding: 0 2em;
	}

	header > nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	header > nav > #logo {
		align-items: flex-start;
	}

	#main-nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: row;
		margin-top: 0;
		flex-grow: 1;
		margin-left: 1em;
	}

	#main-nav > li {
		border: none;
		margin-left: 1em;
	}

	section#hero {
		padding: 10em 0;
	}

	.card-description {
		width: 80%;
	}

	.my-skills > ul > li {
		padding: 0.5em;
	}
}
/* END TABLET VIEW */
/* DESKTOP VIEW */
@media screen and (min-width: 730px) {
	/* SCROLLING STICKY NAV */
	/* header {
		position: relative;
	}
	header > nav {
		position: fixed;
		width: 80%;
		max-width: 899px;
	}

	nav.sticky {
		top: 0.25em;
		background-color: black;
		color: var(--background-colour);
		padding: 1em 1.5em;
		border-radius: 0.25em;
	} */
	section#projects > .cards {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"portfolio portfolio"
			"calculator studyguide";
	}

	section#projects .card {
		margin-top: 0em;
	}

	#portfolio > .project-image {
		width: 100%;
		height: 400px;
	}

	.my-skills > ul > li {
		padding: 1em;
	}

	#contact-me > .card,
	#about-me > .card {
		display: flex;
		flex-direction: row;
		text-align: left;
	}

	#about-me .card img {
		margin: 0 3em 0 0;
	}

	#about-me .card > .card-description {
		text-align: left;
	}

	#contact-me #contact-message {
		text-align: start;
		padding: 0 2em 0 0;
		flex-grow: 1;
	}

	#contact-message > h4 {
		font-size: 1.5rem;
		margin-bottom: 1em;
	}

	#contact-me > .card > form {
		border-left: 1px solid var(--font-colour);
	}

	footer {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	footer > .media-links {
		margin-top: 0;
	}
}
/* END DESKTOP VIEW */
