/* IMPORTED FONTS */
@import url("https://use.typekit.net/dxf2ltb.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* END FONTS */
/* VARIABLES */
:root {
	--white-colour: #ffffff;
	--black-colour: #000000;
	--grey-colour: #171717;
	--blue-colour: #69b6da;
	--red-colour: #bc4749;
	--yellow-colour: #e9c46a;
	--background-colour: var(--white-colour);
	--font-colour: var(--black-colour);
	--anchor-colour: var(--blue-colour);
	--regular-font: "Open Sans", sans-serif;
	--headline-font: "bely-display", sans-serif;
}
/* END VARIABLES */
::selection {
	color: #ffffff;
	background-color: #da69a5;
}
/* RESET */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

ol,
ul {
	list-style-type: none;
}

a,
a:link,
a:visited {
	color: var(--anchor-colour);
	text-decoration: none;
}

a,
a:hover,
a:focus {
	text-decoration: underline;
}
/* END RESET */
/* MOBILE VIEW */
/* GENERAL STYLES */
body {
	font-family: var(--regular-font);
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	background-color: var(--grey-colour);
	color: var(--font-colour);
	text-rendering: optimizeLegibility;
}

h1,
h2 {
	font-family: var(--headline-font);
}

section h2 {
	padding-bottom: 0.25em;
	margin-bottom: 1em;
	border-bottom: 1px solid var(--font-colour);
}

header,
main,
footer {
	padding: 2em 0;
}

#about-me,
#contact-me {
	margin-top: 6em;
}

.out-container {
	width: 100%;
	max-width: 1078px;
	min-width: 0;
	margin: 0 auto;
}

#content {
	background-color: var(--background-colour);
	padding: 0.25em;
}

.in-container {
	width: 90%;
	max-width: 978px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	background-color: var(--anchor-colour);
	color: var(--background-colour);
	padding: 0.5em 1.25em;
	font-weight: bold;
	border-radius: 0.25em;
	transition: all ease-in-out 0.2s;
}
.button:hover,
.button:focus {
	background-color: var(--font-colour);
	cursor: pointer;
	text-decoration: none;
}
/* END GENERAL STYLES */
/* SECTION: HEADER */
header > nav,
header > nav > #logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header > nav > #logo > h6 {
	font-family: var(--headline-font);
	font-size: 2rem;
	line-height: 1;
}

#main-nav {
	width: 50%;
	text-align: center;
	margin-top: 0.75em;
}

#main-nav > li {
	border-bottom: 1px solid var(--font-colour);
	padding: 0.25em 0;
}

#main-nav > li:last-of-type {
	border: none;
}

#cta {
	color: #ffffff;
}

section#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10em 0;
	text-align: center;
}

section#hero h2 {
	font-size: 4rem;
	margin-bottom: 1em;
	border: none;
}

section#hero > h3 {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	line-height: 2;
	font-family: var(--regular-font);
	border: none;
	margin-bottom: 2em;
}

section#hero > #SEO {
	font-size: 1.25rem;
}
/* END SECTION */
/* SECTION: PROJECTS */
section#projects > .cards {
	display: grid;
	grid-template-columns: 1fr;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#projects .card {
	margin-top: 4em;
}

section#projects .card:first-of-type {
	margin-top: 0;
}

.card-title {
	margin-top: 1em;
}

.card-description {
	margin-top: 1em;
	width: 80%;
}
/* END SECTION */
#about-me .card {
	flex-direction: row;
}

#about-me .card img {
	margin-top: 1em;
	border-radius: 50%;
	padding-right: 2em;
	margin-right: 1em;
	width: 200px;
	height: 200px;
	background-position: center;
	background-size: stretch;
	background-repeat: no-repeat;
}

.my-skills {
	margin-top: 3em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/* SECTION: CONTACT ME */
#contact-me #contact-message {
	width: 100%;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

label,
input,
textarea,
button#submit {
	/* font-family: var(--regular-font); */
	display: block;
	width: 80%;
	border-radius: 0.25em;
	resize: none;
}

label {
	margin-top: 0.75em;
	margin-bottom: 0.15em;
}

input,
textarea {
	border: 1px solid var(--font-colour);
	font-size: 0.75rem;
	padding: 0.5em;
}

button#submit {
	margin-top: 0.75em;
}
/* END SECTION */
/* SECTION: FOOTER */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer > .media-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 0.5em;
}

footer > .media-links > li {
	padding: 0 1em;
}
/* END SECTION */
@media screen and (min-width: 645px) {
	section h2 {
		font-size: 2rem;
	}

	.in-container {
		padding: 0 2em;
	}

	header > nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	header > nav > #logo {
		align-items: flex-start;
	}

	#main-nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: row;
		margin-top: 0;
		flex-grow: 1;
		margin-left: 1em;
	}

	#main-nav > li {
		border: none;
		margin-left: 1em;
	}
}

@media screen and (min-width: 730px) {
	section#projects > .cards {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0.5em;
	}

	section#projects .card {
		margin-top: 0em;
		padding: 2em 0;
	}

	#contact-me > .card {
		display: flex;
		flex-direction: row;
		text-align: left;
	}

	#contact-me > .card > #contact-message {
		text-align: start;
		padding-right: 2em;
		flex-grow: 1;
	}

	#contact-message > h4 {
		font-size: 1.5rem;
		margin-bottom: 1em;
	}

	#contact-me > .card > form {
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}

	footer {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	footer > .media-links {
		margin-top: 0;
	}

	.timeline li {
		padding: 2em 0.25em 2em 1.5em;
		border-left: 2px solid var(--anchor-colour);
		position: relative;
	}

	.timeline li::before {
		content: "";
		width: 15px;
		height: 15px;
		background: white;
		border: 1px solid var(--anchor-colour);
		box-shadow: 3px 3px 0px var(--anchor-colour);
		box-shadow: 3px 3px 0px var(--anchor-colour);
		border-radius: 50%;
		position: absolute;
		left: -10px;
	}

	.timeline h5 {
		font-size: 1rem;
		display: inline;
	}

	.timeline p {
		font-size: 0.75rem;
	}

	.timeline .tag {
		font-size: 0.5rem;
		background-color: var(--font-colour);
		color: var(--background-colour);
		padding: 0.5em 0.75em;
		border-radius: 0.25em;
		margin-left: 1em;
	}

	.timeline .current {
		background-color: var(--anchor-colour);
		color: var(--background-colour);
	}
}
